#picture_panel #scroll li a.scroll_number {
  text-decoration: none;
  margin-right: 25px;
  margin-left: 5px;
  color: black;
  font-size: 13px;
  text-decoration: none;
}
#picture_panel #scroll li a.scroll_number:hover {
  border-bottom: 2px solid #766868;
}
#picture_panel #picture_content a#previous,#picture_panel #picture_content a#next {
  z-index: 3;
  width: 36px;
  height: 69px;
  position: absolute;
  top: 215px;
  text-indent: -9999px;
  -webkit-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
}

#picture_panel #picture_content a#previous {
  left: 30px;
  background: url(images/left.png) no-repeat scroll top left;
}
#picture_panel #picture_content a#next {
  right: 30px;
  background: url(images/right.png) no-repeat scroll top left;
}
#picture_panel #scroll {
  display: block;
  height: 20px;
  margin :3px auto;
  z-index: 5;
  background-color: #F2F2F2;
  position: relative;
}
#picture_panel #scroll li a.selected {
  border: 2px solid gray;
  background-color: gray;
  border-radius: 3px;
  -webkit-transition: left 0.1s ease-out;
  -o-transition: left 0.1s ease-out;
  -moz-transition: right 0.1s ease-out;
}
#picture_panel #picture_content ul.image_grid li.image_selected {
  border: 1px solid black;
}
#picture_panel #scroll #active {
  background-color:#bca;
  margin-right: 10px;
  position: relative;
  z-index: -5;
  bottom: 0px;
  height: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 4px;
}
.selected1 {
  font-size: 15px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: #FF8D00
}
#picture_panel #scroll li {
  list-style: none;
  float: left;
}